/** Add css rules here for your application. */
html {
	height: 100%;
	background: url(veilingsite/gwt/standard/images/bg.png) repeat-x #ECECEC bottom; 	
}

#header {
	width: 960px;
	margin: 0 auto;
	height: 140px;	
	position: relative;
}

#login {
	position: absolute;
	right: 0;	
	top: 12px;
}

#login .widget {
	border: 1px solid #767676;
	background: #f5f5f5;
	background: rgb(245, 245, 245);
	background: rgba(245, 245, 245, 0.7);
	padding: 7px;
	margin: 0;
}
	
#menuContainer {
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #767676;
	border-top: 1px solid #767676;
	background: url(veilingsite/gwt/standard/images/menubg.png) repeat-x; 
}

#menubar {
	width: 960px;
	margin: 0 auto;
	/*border-left: 1px solid black;*/
	position: relative;
}

#subMenu {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}

#content .widget {
	border: 1px solid black;
	background: #f5f5f5;
	padding: 15px;
	width: 470px;
	margin: 15px auto;
}

#content .page {
	border: 1px solid black;
	background: #f5f5f5;
	padding: 15px;
	width: 610px;
	margin: 15px auto;
}
/** menu	*/

.menu .gwt-Label {
	padding: 7px;
	font-size:16px;
	text-transform: uppercase;
	cursor: pointer;	
}

.menu .gwt-TabBarItem .gwt-Label:hover {
	padding: 7px 6px;
	background: url(veilingsite/gwt/standard/images/menuHover.png) repeat-x;
	border-left: 1px solid #767676;
	border-right: 1px solid #767676;
	border-bottom: none;
}

.menu .gwt-TabBarItem-wrapper-selected .gwt-Label {
	background: url(veilingsite/gwt/standard/images/menuCurrent.png) repeat-x;
	border-bottom: 3px solid #fa9090;
	padding-bottom: 4px;
}

.gwt-TabBarItem-disabled {
	display: none;	
}

.auctionlist {
	border-spacing: 0;	
}

.auctionlist .row1 {
	background: #D4DEFF;	
}

.auctionlist td {
	padding: 2px 5px;
}

.auctionlist .row0 {
	background: #E8EDFF;
}
/** Containers */

#containerLeft {
	position: absolute;
	left: 0;
	width: 470px;	
}

#containerRight {
	position: absolute;
	right: 0;
	width: 470px;	
}

#container34 {
	width: 640px;	
	position: absolute;
	left: 0;
}

#container14 {
	position: absolute;
	right: 0;
	width: 300px;	
}

/** irritante padding weghalen! */
.menu .gwt-TabBarFirst {
	display: none;	
}

/* Some stuff */

#content .heading {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
}
	
.error {
	border: 1px solid #FF4D4D;
	background: #FBBEBE;
	padding: 5px;
	text-align: center;
	margin: 5px 0;
}

.succesfull {
	border: 1px solid #61F865;
	background: #D6FFCA;
	padding: 5px;
	text-align: center;
	margin: 5px 0;
}

.status {
	border: 1px solid #CACACA;
	background: #ECECEC;
	padding: 5px;
	text-align: center;
	margin: 5px 0;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #555;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: capitalize;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
