/** Add css rules here for your application. */

#header {
	width: 960px;
	margin: 0 auto;
	height: 140px;	
	position: relative;
}

#menuContainer {
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid black;
}

#menubar {
	width: 960px;
	margin: 0 auto;
	border-left: 1px solid black;
	position: relative;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}

#content .widget {
	border: 1px solid black;
	background: #f5f5f5;
	padding: 15px;
	width: 470px;
	margin: 15px auto;
}

/** menu	*/

.menu .gwt-Label {
	padding: 7px;
	background: white;
	border: 1px solid black;
	border-left: none;
	border-bottom: none;
	font-size:16px;
	text-transform: uppercase;
	cursor: pointer;	
}

.menu .gwt-Label:hover {
	background: #f5f5f5;	
}

.gwt-TabBarItem-disabled {
	display: none;	
}

/** Containers */

#containerLeft {
	position: absolute;
	left: 0;
	width: 470px;	
}

#containerRight {
	position: absolute;
	right: 0;
	width: 470px;	
}

/** irritante padding weghalen! */
.menu .gwt-TabBarFirst {
	display: none;	
}

/* Some stuff */

.error {
	border: 1px solid #FF4D4D;
	background: #FBBEBE;
	padding: 5px;
	text-align: center;
	margin: 5px 0;
}

.succesfull {
	border: 1px solid #61F865;
	background: #D6FFCA;
	padding: 5px;
	text-align: center;
	margin: 5px 0;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #555;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: capitalize;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
