<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Servlets -->
 	<servlet>
	  <servlet-name>userServiceServlet</servlet-name>
	  <servlet-class>com.veilingsite.server.ServerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>userServiceServlet</servlet-name>
	  <url-pattern>/veilingsite/myServer</url-pattern>
	</servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>VeilingSite.html</welcome-file>
  </welcome-file-list>
</web-app>